@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Sigmar&display=swap");

:root {
  --background: #42252e;
  --background-2b: #000000;
  --textcolor-white: #ffffff;
  --textcolor-gray: #afafaf;
  --background-3b: #595bf7;
  --background-4a: #234155;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

/* navbar */

header {
  background: linear-gradient(to left, #42252e, #925d6b);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 55px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  height: 80%;
}
.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  gap: 70px;
}
.navbar-list {
  gap: 35px;
}
.navbar-list a {
  font-size: 16px;
  color: var(--textcolor-white);
}
.navbar-list li {
  color: var(--textcolor-white);
  font-weight: 600;
  background-color: var(--background-4a);
  padding: 5px 10px;
  border-radius: 20px;
  transition: all 0.4s;
}

.navbar-list li:hover {
  background: linear-gradient(to top, #e91515, #55054a);
  padding: 15px 20px;
}
.cart-icon {
  height: 40px;
  cursor: pointer;
  padding: 4px 7px;
}
main {
  background-color: var(--background-2b);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--textcolor-white);
  width: 100%;
}

/* section port info*/

#port {
  margin-top: 75px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.port-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
}
.port-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 530px;
  font-weight: 800;
  color: var(--textcolor-white);
}

.port-info p {
  font-size: 14px;
  width: 70%;
  color: var(--textcolor-gray);
}
.port-info p > span {
  font-weight: 800;
  color: var(--textcolor-white);
}
.port-info a {
  color: var(--textcolor-white);
  background-color: var(--background-3b);
  width: 120px;
  padding: 8px 0;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

/* section port card */

.port-card {
  width: 300px;
  background-color: var(--background);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.port-card img {
  border-radius: 5px;
}
.port-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.port-card-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* sirve para hacer los puntitos en el texto caundo sobrepasa los limites!!! */

.port-card-top h3 {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* sirve para hacer los puntitos en el texto caundo sobrepasa los limites!!! */

.port-card-top span {
  background-color: var(--background-3b);
  text-align: center;
  width: 75px;
  padding: 8px 0;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
}
.port-card-bottom {
  display: flex;
  justify-content: space-between;
}
.port-card-tipo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.port-card-tipo img {
  width: 45px;
  height: 45px;
}
.tipo-info p:first-child,
.port-card-price p {
  color: var(--textcolor-gray);
  font-size: 14px;
  font-weight: 300;
}

/* section text-info */

#text-info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#text-info h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: var(--textcolor-white);
  /* background-color: var(--background); */
  width: 80%;
  border-radius: 50px;
  margin-bottom: 40px;
}

.text-p {
  font-size: 14px;
  width: 80%;
  color: var(--textcolor-gray);
  margin-bottom: 20px;
}
.text-p span {
  font-weight: 800;
  color: var(--textcolor-white);
}

/* info cards */

#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

#info h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: var(--textcolor-white);
  /* background-color: var(--background); */
  width: 80%;
  border-radius: 50px;
  margin-bottom: 20px;
}
.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--background);
  border-radius: 10px;
  gap: 20px;
}

.info-card img {
  width: 55px;
}

.info-card h3 {
  font-weight: 600;
  font-size: 18px;
}

.info-card p {
  font-size: 14px;
  font-weight: 300;
  color: var(--textcolor-gray);
}

/* Contact */

#contact {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 430px;
  height: 300px;
  border-radius: 10px;
  background-color: var(--background);
}

.banner img {
  width: 400px;
  border-radius: 10px;
}

.ctc-info h2 {
  font-weight: 800;
  font-size: 40px;
}

.ctc-info h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.ctc-card-info img {
  width: 30px;
}

.ctc-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}

.ctc-container {
  display: flex;
  gap: 15px;
}

.ctc-card {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}

.ctc-card h3 {
  text-align: center;
}

.ctc-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.ctc-usu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.ctc-usu p {
  font-size: 14px;
  font-weight: 300;
  color: var(--textcolor-gray);
}

.ctc-redes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}

.ctc-redes img {
  width: 30px;
}

/* footer */

footer {
  background: var(--background-2b);
  color: var(--textcolor-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
}

footer img {
  width: 55px;
}

footer a,
footer p {
  color: var(--textcolor-gray);
  font-weight: 300;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* texto envuelto en etiqueta span, se le aplico gradiente */
/* des esta forma se le aplica gradiente solo al texto */
.footer-info span {
  background: linear-gradient(to right, #01fc93, #ff00dd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  font-size: 16px;
}

/* menu hamburgesa */

#menu-toggle,
#cart-toggle,
.menu-label {
  display: none;
}
